[Desktop Entry]
Type=Application
Name=Open Adventure
Comment=Colossal Cave Adventure, the 1995 430-point version
Icon=advent
Exec=advent
Terminal=true
Categories=Game;AdventureGame;ConsoleOnly
